<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
    <ul id="sidebarnav">
    

      <li class="nav-small-cap">
        <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
        <span class="hide-menu"></span>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/" aria-expanded="false">
          <span>
            <i class="ti ti-article"></i>
          </span>
          <span class="hide-menu">Dashboard</span>
        </a>
      </li>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/users" aria-expanded="false">
          <span>
            <i class="ti ti-user"></i>
          </span>
          <span class="hide-menu">Residents</span>
        </a>
      </li> <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/barangay" aria-expanded="false">
          <span>
            <i class="ti ti-message"></i>
          </span>
          <span class="hide-menu">Barangay</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/barangayapproval" aria-expanded="false">
          <span>
            <i class="ti ti-message"></i>
          </span>
          <span class="hide-menu">Barangay Approval</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/junkshops" aria-expanded="false">
          <span>
            <i class="ti ti-recycle"></i>
          </span>
          <span class="hide-menu">Junkshops</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/pending" aria-expanded="false">
          <span>
            <i class="ti ti-cards"></i>
          </span>
          <span class="hide-menu">Junkshop Approval</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/pickup" aria-expanded="false">
          <span>
            <i class="ti ti-cards"></i>
          </span>
          <span class="hide-menu">Pick Up</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/manage" aria-expanded="false">
          <span>
            <i class="ti ti-cards"></i>
          </span>
          <span class="hide-menu">Manage Scraps</span>
        </a>
      </li>
         <li class="sidebar-item">
        <a class="sidebar-link" href="/dashboard/logs" aria-expanded="false">
          <span>
            <i class="ti ti-list"></i>
          </span>
          <span class="hide-menu">Transaction Logs</span>
        </a>
      </li>

 
    </ul>

  </nav>
