<head><%- include('./partials/header'); -%></head>


    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">About Us</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item" aria-current="page">About</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-end">
                <div class="col-lg-6">
                    <div class="row g-2">
                        <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
                            <div class="about-experience bg-success rounded text-white">
                                <h6 class="display-1 mb-0 text-white"></h6>
                                <small class="fs-3 fw-bold">Scrap?</small>
                            </div>
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
                            <img class="img-fluid rounded" src="img/about-1.jpg">
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
                            <img class="img-fluid rounded" src="img/about-2.jpg">
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                            <img class="img-fluid rounded" src="img/about-3.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <p class="section-title bg-white text-start text-primary pe-3">About Us</p>
                    <h1 class="mb-4">Learn More About Our Internet-Based Junkshop</h1>
                    <p class="mb-4">Our scrap collection platform is motivated by a personal goal to change the way junkshops and users engage with their scraps. We have a strong dedication to sustainability and community, and we are enthusiastic about transforming the scrap management and recycling field. Our mission is driven by the aspiration to make a positive impact on the environment and provide convenient and easily accessible options for scrap disposal, guaranteeing a better future for future generations.</p>
                    <div class="row g-5 pt-2 mb-5">
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4" src="img/services-pickup.png" alt="" width="30%">                            <h5 class="mb-3">Dedicated Services</h5>
                            <span>It offers convenient disposal and recycling services, allowing customers to schedule pickups for a wide range of scraps. With eco-friendly disposal methods and transparent pricing, they provide a hassle-free solution for decluttering while minimizing environmental impact.</span>
                        </div>
                        <div class="col-sm-6">
                            <img class="img-fluid mb-4" src="img/scraps-waste.png" alt="" width="30%">
                            <h5 class="mb-3">Scrap Materials</h5>
                            <span>These services handle various scrap materials, including steel, plastics, karton, paper, yero, and copper, ensuring proper recycling and disposal to promote sustainability. By recycling items, they contribute to reducing waste and conserving resources.</span>
                        </div>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-success rounded-pill py-3 px-5" ref="">Explore More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Banner Start -->
    <div class="container-fluid banner my-5 py-5 bg-dark" data-parallax="scroll" data-image-src="img/banner.jpg">
        <div class="container py-5">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="mb-5 text-white">Our Core Values</h1>
            </div>
            <div class="row g-5">
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="d-flex align-items-start">
                        <img class="img-fluid rounded" src="img/vision.jpg" alt="" style="width: 100px; height: 100px; object-fit: cover; margin-right: 20px;">
                        <div>
                            <h2 class="text-white mb-3">Vision</h2>
                            <p class="text-white mb-4">We envision becoming the leading platform in the recycling industry and to foster a culture of sustainability through seamless transactions and collaboration among communities, Barangays, small junkshops, and large recycling centers. Also, create a circular economy where used products are turned into new ones and maximizing recycling.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                    <div class="d-flex align-items-start">
                        <img class="img-fluid rounded" src="img/mission.jpg" alt="" style="width: 100px; height: 100px; object-fit: cover; margin-right: 20px;">
                        <div>
                            <h2 class="text-white mb-3">Mission</h2>
                            <p class="text-white mb-4">We aim for a waste-free world by connecting scrap collectors, local junkshops, and large recycling centers through an integrated digital platform. We aim to revolutionize waste management practices and drive economic growth by making recycling accessible and profitable for everyone involved.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.7s">
                    <div class="d-flex align-items-start">
                        <img class="img-fluid rounded" src="img/goal.jpg" alt="" style="width: 100px; height: 100px; object-fit: cover; margin-right: 20px;">
                        <div>
                            <h2 class="text-white mb-3">Goal</h2>
                            <p class="text-white mb-4">Our objective is to simplify and make recycling available to all, including institutions, by consistently innovating with technology. This involves using a digital platform for conducting transactions, maintaining logs, recording history, and analyzing data. We are committed to ensuring that all collected scraps are recycled in the proper manner. Furthermore, we are dedicated to expanding our network and boosting the amount of scrap materials processed each year.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    

    <!-- Banner End -->



    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Our Owner</p>
                <h1 class="mb-5">President/Owner</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex align-items-center team-item rounded p-4">
                        <div>
                            <h5>Anthony Jay C. De Guzman</h5>
                            <p class="text-primary">Owner of Kariton</p>
                            <p>Passionate about purchasing and recycling scraps turning into more valuable items, ensuring all scraps were properly disposed, Anthony plays a crucial role in keeping every scrap possible to be reused again by visionizing the future.</p>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-square btn-outline-success rounded-circle mx-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-outline-success rounded-circle mx-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-outline-success rounded-circle mx-1" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="ms-4">
                            <img class="img-fluid rounded mb-4" src="img/owner.png" alt="Owner">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <!-- Team End -->


    <!-- Footer Start -->
    <%- include('./partials/footer'); -%>
    <!-- Footer End -->


    <!-- Copyright Start -->
    <%- include('./partials/copyright'); -%>

    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/parallax/parallax.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>