<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>  <link rel="icon" href="img/home-logo.png" type="image/x-icon"/>

<link rel="stylesheet" href="../css/style1.css">

<title>TRON PARALLAX</title>
</head>


<body>

    
    <div id="pg1">
        <img src="../img/download (3).png">
        <a href="https://tron.network/" target="blank">
        <h2 id="main">Circular Economy</h2>
        </a>
    </div>

   
    <section id="dark_section">

        <p>The circular economy is an economic system aimed at eliminating waste and the continual use of resources. It contrasts with the traditional linear economy, which follows a 'take, make, dispose' model. The circular economy seeks to create a closed-loop system, minimizing resource input, waste, emissions, and energy leakage through the design of durable, reusable, and recyclable products. </p>


    </section>


    <div id="pg2">
        <div id="text">
            <span>
                Principles of the Circular Economy
            </span>
        </div>
    </div>

    <section id="dark_section">

        <p>The circular economy operates on key principles designed to create a sustainable and efficient system. It focuses on designing out waste and pollution, keeping products and materials in use, and regenerating natural systems. This involves sustainable product design, material efficiency, maintenance, repair, reuse, redistribution, remanufacturing, and recycling. By emphasizing these aspects, the circular economy aims to minimize resource input and waste.</p>
        
    </section>

    <div id="pg3">
        <div id="text">
            <span>
                Benefits of the Circular Economy
            </span>
        </div>
    </div>

    <section id="dark_section">

        <p>
            The circular economy offers substantial benefits across various domains. Environmentally, it reduces waste and emissions, promotes biodiversity, and supports ecosystem health. Economically, it lowers material costs, generates jobs in recycling and remanufacturing, and drives innovation. Socially, it enhances community engagement and contributes to sustainable development goals. Despite challenges such as high initial costs, shifting consumer behaviors, and regulatory complexities, the circular economy presents a transformative pathway towards sustainability, resilience, and resource efficiency.

        </p>

    </section>

    <div id="pg4">
        <div id="text">
            <a href="https://github.com/Abhiram-Laha" target="blank" style="text-decoration: none; color:white;">
            <span>
                Kariton PH
            </span>     
        </a>     
           
        </div>
        

    </div>

    

    



</body>
</html>